body {
    color: white;
 background-image: linear-gradient(to bottom, rgb(15, 3, 182), rgb(0, 0, 0));
font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
